/* RESET */
body, h1, h2, p, ul, li, form, input, textarea, button {margin: 0; padding: 0;}

/* PAGE STYLING - GLOBAL*/

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #313131;
    line-height: 1.6;
    padding: 20px;
    text-align: center;}

/* HEADER */

header {margin-bottom: 20px
        text-align: center; padding: 20px;}

/* SLOGAN */

.slogan {margin-top: -10px; font-style: italic; color: #313131}

/* STORE NAME */

header h1 {font-size: 28px; margin-bottom: 15px;}

/* LOGO */

.logo {width: 100px;
        height: auto;
        margin-bottom: 10px;}

/* NAVIGATION */

nav {margin-top:15px;}
nav a {text-decoration: none; margin: 0 15px; font-weight: bold; color: #313131; 

    /* HIGHLIGHT ACTIVE PAGE */

    nav a.active {background-color: #005678; color: white; border-color: #005678;;}
    /* HOVER */

    nav a:hover {background-color: #005678; color: white;}

/* MAIN CONTENT */

main {max-width: 80%; margin: 0 auto; /*adjust later*/
    text-align: center;}
section {text-align: left;}



/* SECTION SPACING */

section {margin-bottom: 30px}
section h2 {margin-bottom:10px}

/* FORM STYLING */

form {display: flex; flex-direction: column; gap: 12px; margin-top: 15px}
label {font-weight: bold;}
input, textarea {padding: 8px; border: 1px solid #005678; border-radius: 4px; font-size: 14px;}

/* SUBMIT BUTTON */

button {padding: 10px; background-color: #005678; color: white; border: none; border-radius: 4px; cursor: pointer;}

/* BUTTON HOVER */

button:hover {background-color: #005678;}

/* FOOTER */

footer {margin-top: 40px; font-size: 14px;}
footer a {color: #005678}